.app-title {
  font-family: 'Courier';
  font-size: 36px;
  font-weight: bold;
  color: #4CAF50;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.input-box input {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.input-box button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-box button:hover {
  background-color: #45a049;
}

.lists-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.list-view {
  margin-top: 10px;
  flex: 1;
  min-width: 200px;
  max-width: 300px;
}

.list-name {
  text-decoration: underline;
  cursor: pointer;
  color: #4CAF50;
  font-family: 'Courier';
  font-size: 23px;
  text-align: center;
}

.list-name:hover {
  color: #45a049;
}

.list-item {
  display: list-item;
  padding: 5px 0;
  position: relative;
}

.item-content {
  display: inline-flex;
  align-items: center;
}

.item-text {
  flex-grow: 1;
  transition: color 0.3s;
  cursor: pointer;
  color: black;
}

.delete-button {
  visibility: hidden;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 0 5px;
  margin-left: 2px;
}

.list-item:hover .delete-button {
  visibility: visible;
}

.item-content:hover .delete-button:hover + .item-text {
  color: red;
}
.add-list-button {
  text-align: center;
  margin-top: 20px;
}

.add-list-text {
  color: #4CAF50;
  text-decoration: underline;
  cursor: pointer;
  font-size: 18px;
}

.add-list-name:hover {
  color: green;
}

.new-list-input {
  margin-top: 10px;
}

.new-list-input input {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.new-list-input button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font: 1em sans-serif;
}