.app-title {
  font-family: 'Courier';
  font-size: 36px;
  font-weight: bold;
  color: #4CAF50; /* Same green as your button */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin-bottom: 20px;
  text-align: center;
}



.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.input-box input {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.input-box button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.input-box button:hover {
  background-color: #45a049;
}



.lists-container {
  display: flex;
  justify-content: center; /* Center lists horizontally */
  gap: 30px; /* Add space between lists */
  flex-wrap: wrap; /* Make lists wrap to the next line if needed */
  margin-top: 20px;
}
.list-view {
  margin-top: 10px;
  flex: 1; /* Make lists take up equal space */
  min-width: 200px; /* Prevent lists from shrinking too much */
  max-width: 300px; /* Control the max width of each list */
}
.list-name {
  text-decoration: underline;
  cursor: pointer;
  color: #4CAF50;
  font-family: 'Courier';
  font-size: 23px;
  text-align: center;
}
.list-name:hover {
  color: #45a049;
}
.list-items {
  list-style-type: disc;
  margin-top: 5px;
  font-family: 'Courier';
  font-size: 17px;
  text-align: left; 
}




.add-list-button {
  text-align: center;
  margin-top: 20px;
}
.add-list-text {
  color: #4CAF50;
  text-decoration: underline;
  cursor: pointer;
  font-size: 18px;
}
.add-list-name:hover {
  color: green;
}



.new-list-input {
  margin-top: 10px;
}
.new-list-input input {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.new-list-input button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font: 1em sans-serif;
}

